@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
li{ list-style:none;}
a{ text-decoration:none; color:#666;}
img{ vertical-align:top; border:none;}

.fl{ float:left;}
.fr{ float:right;}
.clearfix:after{ content:''; display:block; clear:both;}
.clearfix{zoom:1;}
body{ font-size:12px; background:#f2f2f2;}
input{border:none; padding:0; outline:none; background:none;}
textarea{border:none; padding:0; outline:none; background:none; resize:none;}
